[Desktop Entry]
Type=Application
Name=OSLin Control Center
Name[ar]=مركز تحكم OSLin
Comment=Change theme, wallpaper, keyboard, and more
Comment[ar]=غيّر السمة والخلفية ولوحة المفاتيح والمزيد
Exec=/usr/local/bin/oslin-control-center
Icon=preferences-system
Terminal=false
Categories=Settings;DesktopSettings;X-XFCE-SettingsDialog;
Keywords=settings;theme;wallpaper;keyboard;
StartupNotify=true
