set timeout=5
set default=0
insmod all_video
insmod gfxterm
insmod png
insmod part_gpt
insmod part_msdos
set gfxmode=auto
set gfxpayload=keep
terminal_output gfxterm
if [ -f /boot/grub/theme.txt ]; then
    set theme=/boot/grub/theme.txt
fi
set color_normal=white/black
set color_highlight=light-blue/black
set menu_color_normal=white/black
set menu_color_highlight=light-blue/black

menuentry "Start OSLin (Live Mode)" --class oslin --class os {
    set gfxpayload=keep
    linux /live/vmlinuz boot=live components username=oslin hostname=oslin locales=en_US.UTF-8,ar_SA.UTF-8 keyboard-layouts=us,ar timezone=Africa/Lagos quiet splash ---
    initrd /live/initrd.img
}

menuentry "Safe Graphics Mode (nomodeset)" --class oslin --class os {
    set gfxpayload=keep
    linux /live/vmlinuz boot=live components username=oslin hostname=oslin locales=en_US.UTF-8 keyboard-layouts=us,ar timezone=Africa/Lagos quiet splash nomodeset ---
    initrd /live/initrd.img
}

menuentry "Install OSLin to Hard Drive" --class oslin --class os {
    set gfxpayload=keep
    linux /live/vmlinuz boot=live components username=oslin hostname=oslin locales=en_US.UTF-8 keyboard-layouts=us,ar timezone=Africa/Lagos quiet splash install ---
    initrd /live/initrd.img
}

menuentry "Boot from first hard drive" --class oslin --class os {
    set root=(hd0)
    chainloader +1
}
